.newmusic_body{
    width: 100%;
    /* background-color: yellow; */
    height: 500px;;
}
.newmusic_head{
    width: 100%;
    height: 100px;
    /* background-color: fuchsia; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newmusic_hr{
    width: 100%;
    background-color: rgb(100,100,100);
    height: 1px;
}
.newmusic_button_group{
    width:260px;
    display: flex;
    flex-direction: row; 
}
.newmusic_button_left{
    width: 130px;
    background-color: rgb(60,60,60);
    color: white;
    height: 30px;
    line-height: 30px;
    border-style: solid;
    border-color: rgb(60,60,60);
    border-width: 1px;
    text-align: center;
    cursor: pointer;
}
.newmusic_button_right{
    width: 130px;
    color: rgb(90,90,90);
    height: 30px;
    line-height: 30px;
    border-color: rgb(60,60,60);
    border-style: solid;
    border-color: rgb(60,60,60);
    border-width: 1px;
    text-align: center;
    cursor: pointer;
}
.newmusic_button_right:hover{
   background-color: rgb(35,35,35);
}
.newmusic_list{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newmusic_list_item_body{
    width: 100%;
    height: 65px;
    /* background-color: salmon; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.newmusic_list_item_body > p{
    width: 50px;
    height: 65px;
    /* background-color: orange; */
    text-align: center;
    line-height: 65px;
    margin:0;
    color: rgb(130,130,130);
}
.newmusic_list_item_body > img{
    width: 60px;
    height: 60px;
}
.newmusic_list_item_name{
    width: 370px;
    height: 65px;
    /* background-color: khaki; */
    line-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color:white;
    margin-left: 10px;
}
.newmusic_list_item_artist{
    width: 250px;
    height: 65px;
    /* background-color: chartreuse; */
    line-height: 65px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    color: rgb(130,130,130);
    
}
.newmusic_list_item_artist > p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.newmusic_list_item_album{
    width: 250px;
    height: 65px;
    /* background-color: rebeccapurple; */
    line-height: 65px;
    overflow: hidden;
    color: rgb(130,130,130);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.newalbum_list{
    width: 95%;
    /* background-color: palegreen; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin:0 auto;
}
.newalbum_list_item_body{
    width: 170px;
    height: 220px;
    /* background-color: palevioletred; */
    display: flex;
    flex-direction: column;
    margin-top:10px;
    margin-left: 23px;
}
.newalbum_list_item_body > img{
    width: 170px;
    height: 170px;
    /* background-color: palevioletred; */
}
.newalbum_list_item_body > p{
    width: 100%;
    height: 25px;
    /* background-color: palevioletred; */
    line-height: 25px;
    color:white;
    font-size: 13px;
    margin:0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.newalbum_list_item_body > div{
    width: 100%;
    height: 25px;
    /* background-color: palevioletred; */
    line-height: 25px;
    color:rgb(95,95,95);
    font-size: 13px;
    display: flex;
    flex-direction: row;
}