.search_res_artist_list{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin:0 auto;
}
.search_res_artist_list > div{
    width: 225px;
    height: 250px;;
    /* background-color: blue; */
    margin-top: 10px;
    color: white;
    cursor: pointer;
    margin-left: 15px;
}
.search_res_artist_list > div > img{
    width: 225px;
    height: 225px;
}
.search_res_artist_page{
    width: 200px;
    margin:20px auto;
    
}
.search_res_artist_page > span{
    color:rgb(150,150,150);
    margin:0 10px;
    cursor: pointer;
}