.recommend_body{
    flex-grow: 1;
    /* background-color: white; */
    height: 100%;
    overflow: scroll;
}
.recommend_body::-webkit-scrollbar  
{  
    width: 15px;    
    background-color: #fff;  
}  
.recommend_vis{
    margin: 0 auto;
    width: 1020px;
    height: 100%;
    /* background-color: yellow; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.recommend_nav{
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.recommend_nav_link{
    text-decoration: none;
    color:rgb(150,150,150);
    user-select: none;
}
.recommend_nav_link :hover{
    color:rgb(150,150,150);
}
.recommend_nav  > div{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:rgb(150,150,150);
    text-decoration: none;
}

.recommend_page{
    width: 100%;
    /* background-color: teal; */
    position: relative;
}
