.loginandregister_body{
    width: 100%;
    height: 100%;
    /* background-color: forestgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.loginandregister_head{
    width: 100%;
    height: 30px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.loginandregister_head > img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.loginandregister_logo{
    width: 100%;
    height: 140px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family:'Akzidenz-Grotesk-BQ';
    font-size: 40px;
}
@font-face {font-family: 'namcoregular';src: url('//cdn.repository.webfont.com/webfonts/nomal/131005/44812/5d26dc26f629d80314ae0c0e.gif?r=111221414747');src: url('//cdn.repository.webfont.com/webfonts/nomal/131005/44812/5d26dc26f629d80314ae0c0e.gif?r=111221414747?#iefix') format('embedded-opentype'),url('//cdn.repository.webfont.com/webfonts/nomal/131005/44812/5d26dc26f629d80314ae0c0e.png?r=111221414747') format('woff2'),url('//cdn.repository.webfont.com/webfonts/nomal/131005/44812/5d26dc26f629d80314ae0c0e.bmp?r=111221414747') format('woff');font-weight: normal;font-style: normal;} 
@font-face {font-family: 'Akzidenz-Grotesk-BQ';src: url('//cdn.repository.webfont.com/webfonts/nomal/131005/46993/5d26dd03f629d80314ae0c0f.gif?r=111221635433');src: url('//cdn.repository.webfont.com/webfonts/nomal/131005/46993/5d26dd03f629d80314ae0c0f.gif?r=111221635433?#iefix') format('embedded-opentype'),url('//cdn.repository.webfont.com/webfonts/nomal/131005/46993/5d26dd03f629d80314ae0c0f.png?r=111221635433') format('woff2'),url('//cdn.repository.webfont.com/webfonts/nomal/131005/46993/5d26dd03f629d80314ae0c0f.bmp?r=111221635433') format('woff');font-weight: normal;font-style: normal;} 