.like_album_body{
   /* width: 1030px; */
   overflow: scroll;
   /* background-color: yellow; */
}
.like_album_head{
    margin-top: 20px;
    width: 100%;
    color:white;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
}
.like_album_hr{
    width: 100%;
    height: 1px;
    background-color: rgb(150,150,150);
}
.like_album_list{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* background-color: palegreen; */
}
.like_album_list_item{
    display: flex;
    width: 170px;
    height: 245px;
    flex-direction: column;
    cursor: pointer;
    margin: 10px 16px;
    /* background-color: blue */
}
.like_album_list_item > span{
    display: block;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    line-height: 20px;
    color:white;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}
.like_album_list_item > img{
    width: 170px;
    height: 170px;
}
.like_album_list_item > p{
    width: 170px;
    
    text-overflow: ellipsis;
    height: 15px;
    line-height: 15px;
    color:rgb(150,150,150);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    margin:0;
}
.like_album_list_item > div{
    width: 170px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    color:rgb(150,150,150);
    height: 22px;
}
.like_album_page{
    width: 200px;
    margin:20px auto;
    
}
.like_album_page > span{
    color:rgb(150,150,150);
    margin:0 10px;
    cursor: pointer;
}