/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  
} */
.body{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: green;
  overflow: hidden;
}
.middle{
  width: 100%;
  background-color: rgb(22,24,28);
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

::-webkit-scrollbar{
  width: 5px;/* 纵向滚动条*/
  height: 0px;/* 横向滚动条 */
  /* background-color: #fff; */
  background-color: rgb(25,27,31);
}

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background-color: rgb(25,27,31);
}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background-color: rgb(47,49,52);
}
